In [1]:
import pandas as pd

In [4]:
#Two Main Data Types
#Series
series = pd.Series(['Natsu','Lucy','Gray'])
series

0    Natsu
1     Lucy
2     Gray
dtype: object

In [5]:
#Dataframe
carData = pd.DataFrame({"Car Make":['BMV','Toyota','Audi'],'Color':['Red','Blue','Green']})
carData

  Car Make  Color
0      BMV    Red
1   Toyota   Blue
2     Audi  Green

In [2]:
#Import Data
car_sales = pd.read_csv("../data/car-sales.csv")
type(car_sales)
car_sales
#This is Rendered as a Pandas DataFrame

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

In [ ]:
car_sales.to_csv('exportedCarSales.csv')

## Describing Data

In [11]:
#Attribute
car_sales.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price            object
dtype: object

In [12]:
car_sales.columns

Index(['Make', 'Colour', 'Odometer (KM)', 'Doors', 'Price'], dtype='object')

In [13]:
car_sales.index

RangeIndex(start=0, stop=10, step=1)

In [14]:
car_sales.describe()

       Odometer (KM)      Doors
count      10.000000  10.000000
mean    78601.400000   4.000000
std     61983.471735   0.471405
min     11179.000000   3.000000
25%     35836.250000   4.000000
50%     57369.000000   4.000000
75%     96384.500000   4.000000
max    213095.000000   5.000000

In [15]:
car_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           10 non-null     object
 1   Colour         10 non-null     object
 2   Odometer (KM)  10 non-null     int64
 3   Doors          10 non-null     int64
 4   Price          10 non-null     object
dtypes: int64(2), object(3)
memory usage: 528.0+ bytes

In [18]:
car_sales.mean()

C:\Users\shyam\AppData\Local\Temp\ipykernel_24252\4073448239.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  car_sales.mean()

Odometer (KM)    78601.4
Doors                4.0
dtype: float64

In [19]:
car_prices = pd.Series([3000,155,123])
car_prices.mean()

1092.6666666666667

In [24]:
car_prices.std()

1651.8766095968952

In [25]:
car_prices.var()

2728696.3333333335

In [26]:
len(car_sales)

10